<div class='col-sm-12'>
  <h3 class='mt-5 mb-3'>コメント一覧</h3>
    <% replies.each do |r| %>
    <div class='card mb-1 mt-1'>
      <div class='card-body'>
        <p><%=r.reply %></p>
      </div>
      <div class='text-black-50'>
        <p class='text-center'>投稿者:<%= r.user.name %>さん  投稿日時:<%= r.created_at.strftime('%Y/%m/%d %H:%M:%S')%></p>
      </div>  
      <div class='text-right'>
        <% if user_signed_in? %>
          <% if r.user.id == current_user.id %>
            <%= link_to 'コメントを削除', map_reply_path(user_id: current_user.id, map_id: r.map.id, reply_id: r.id), method: :delete, class: 'btn btn-danger btn-sm' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
