<h1>Google Map</h1>
<div id="new_map" class="new_map"></div>
<form>
  <label for="title">Dangerous Point</label>
  <input type="textarea" id="content">
  <input type="submit" id="submit_button" value="register"> 
</form>
<ul>
  <li>lat: <span id="lat"></span></li>
  <li>lng: <span id="lng"></span></li>
</ul>
