<% if user_signed_in? %>
  <div class='text-center mt-3'>
    <h1>新規投稿</h1>
  </div>
<!-- user form -->
  <div>
    <%= render 'maps/form', map: @new_map %>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP']%>&callback=initMap"></script>
<% else %>
  <h1>RISC!</h1>
  
  <%= link_to '会員登録', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>
