<div class='text-center mt-3'>
  <h1><%= @user.name %>さんの役に立ったと評価した投稿一覧</h1>
</div>

<% unless @user_map.empty? %>
  <div id='likes_map'>
  <!-- google maps here -->
  </div>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP']%>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>


  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'likes_map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(5);
    });
  </script>
<% else %>
<p class='text-center mt-5 mb-5'>まだ役に立ったと評価した投稿はありません</p>
<% end %>
