<h1 class='about_title'>RISCとは</h1>
  <h2>全てのサイクリストが安全にサイクリングできるように危険箇所をシェアするサービスです。</h2>
    <article> 
      <p>近年、自転車ブームによりサイクリングする人が増えました。しかし、地球上にはまだまだ危険な箇所がいっぱいあります。</p>
      <p>例えば、交通量の多い道、歩道のないトンネル、補給場所が少ない地域..etc</p>
      <p>RISCはそのような危険な場所をシェアすることで、一人でも多くのサイクリストが安全にサイクリングを楽しめるようにするためのサービスです。</p>
    </article>
  <h3>サービスの内容および注意事項</h3>
    <article>
      <div>
        <h4>サービス内容は以下の通りです。</h4>
          <ul>
            <li>投稿閲覧機能</li>
            <li>投稿詳細閲覧機能</li>
            <li>※投稿機能</li>
            <li>※他ユーザーの投稿への評価機能</li>
            <li>※他ユーザーの投稿へのブックマーク機能</li>
            <li>※他ユーザーの投稿へのコメント機能</li>
          </ul>
        <p>※のついた機能はユーザー登録をして頂いた方限定となります。</p>
      </div>
      <div>
        <h4>注意事項</h4>
          <ul>
            <li>各サービス・機能は今後アップデート等により変更する可能性があります。</li>
          </ul>
    </article>
  <h3>サービス運営者について</h3>
    <p>このサービスは個人開発の為、皆様に御迷惑をかける可能性が多々あると思いますが、見守っていただけると幸いです。。。</p>
    <p>後々OSSとして様々な人にこのサービスをよりよくして行きたいと考えております。</p>
    <p>RISCのGitHubレポジトリは<a href='https://github.com/maxkenkomoda/RISC/tree/develop'>こちら</a></p>
    <p>連絡先はこちらまでお願いたします。</p>
    <p>risk.project2020[a].gmail.com</p>
    <p>※[a]を@に変更してお願いします</p>
