<div class='row'>
  <div class='terms'>
    <div class='mt-5'>
      <h1 class='border-bottom'>プライバシーポリシー</h1>
        <p>RISC!!運営チーム（以下，「運営チーム」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>1. 収集する利用者情報及び収集方法</h2>
        <p>本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、通信サービス上の行動履歴、その他ユーザーのスマートフォン、PC等の端末においてユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき運営チームが収集するものを意味するものとします。 本サービスにおいて運営チームが収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</p>
      <h3 class='mt-5'>(1)ユーザーからご提供いただく情報</h3>
        <p>ユーザーが本サービスを利用するために、ご提供いただく情報は以下のとおりです。</p>
        <ul>
          <li>ユーザー名</li>
          <li>メールアドレス</li>
          <li>その他運営チームが定める入力フォームにユーザーが入力する情報</li>
        </ul>
      <h3 class='mt-5 mb-5'>(2)ユーザーが本サービスを利用するにあたって、運営チームが収集する情報</h3>
        <ul>
          <li>端末情報</li>
          <li>ログ情報</li.
          <li>Cookie及び匿名ID</li>
        </ul>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>2. 利用目的</h2>
        <p>2-1. 利用者情報は、2-2に定めるとおり本サービスの提供のために利用されるほか、2-3に定めるとおり、その他の目的にも利用される場合があります。</p>
        <p>2-2 本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。</p>
        <ol>
          <li>本サービス関するご案内、お問い合わせ等への対応のため</li>
          <li>本サービスに関する運営チームの規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対応するため</li>
          <li>本サービスに関する規約等の変更などを通知するため</li>
          <li>本サービス全体の統計情報としてデータを解析するため</li>
          <li>上記の利用目的に付随する利用目的のため</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>3.第三者提供</h2>
        <p>運営チームは、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめユーザーの同意を得ないで、第三者に提供しません。但し、次に掲げる場合はこの限りではありません。</p>
        <ol>
          <li>運営チームが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
          <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
          <li>第4項の定めに従って、情報収集モジュール提供者へ個人情報が提供される場合</li>
          <li>国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼす恐れがある場合</li>
          <li>その他、個人情報保護法その他の法令で認められる場合</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>4.お問い合わせ窓口</h2>
        <p>ご意見、ご質問、苦情のお申し出その他利用者情報の取扱いに関するお問い合わせは、下記窓口までお願い致します。</p>
        <p class='text-center'>risk.project2020[a].gmail.com</p>
        <p class='text-center'>※[a]を＠に変更してお願いします。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>5.プライバシーポリシーの変更手続</h2>
        <p>運営チームは、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。
        　本ポリシーの変更にあたって、運営チームが大幅な変更と判断した場合を除いて、ユーザーの皆様に通知をすることはございません。ご利用の際には随時、最新のプライバシーポリシーをご参照ください。</p>
      <div class='mt-5'>
        <p class='text-center'>以上</p>
        <p style='color: #C0C0C0'>2020年7月15日作成</p>
      </div>
    </div>
  </div>
</div>
