<div class='row'>
  <div class='terms'>
    <div class='mt-5'>
      <h1 class='border-bottom'>サービス利用規約</h1>
        <p>本利用規約（以下、本規約）には、本サービスの提供条件及び当サービスの運営チームと登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいた上で、本規約に同意いただく必要があります。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第1条（適用）</h2>
        <ol>
          <li>本規約は，ユーザーと当サービスの利用に関する運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
          <li>本規約の内容とその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第2条（定義）</h2>
        <p>本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
        <ol>
          <li>「サービス利用規約」とは、本規約および運営チームと登録ユーザーの間で締結する、本サービスの利用規約を意味します。</li>
          <li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またそれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
          <li>「運営チーム」とは、RISC!!運営チームを意味します。</li>
          <li>「登録ユーザー」とは、第3条（登録）に基づいて本サービスの利用者としての登録がなされた個人または法人を意味します。</li>
          <li>「本サービス」とは、RISC!!という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第3条（登録）</h2>
        <ol>
          <li>登録希望者が当サービス運営チームの定める方法によって利用登録を申請し，当サービス運営チームがこれを承認することによって，利用登録が完了するものとします。</li>
          <li>当サービス運営チームは，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。</li>
            <ol>
              <li>運営チームに提供した登録事項の全部または一部につき虚偽、誤記又は記載漏れがあった場合</li>
              <li>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会勢力等の維持、運営もしくは経営に協力もしくは菅如する等反社会的勢力等の何らかの交流もしくは関与を行っていると運営チームが判断した場合</li>
              <li>登録希望者が過去運営チームとの契約に違反した者またはその関係者であると運営チームが判断した場合</li>
              <li>その他，当サービス運営チームが利用登録を相当でないと判断した場合</li>
            </ol>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第4条（パスワード及びユーザーIDの管理）</h2>
        <ol>
          <li>登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものします。</li>
          <li>パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、運営チームは一切の責任を負いません。</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第5条（禁止事項）</h2>
        <p>登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると運営チームが判断する行為をしてはなりません。</p>
        <ol>
          <li>法令に違反する行為または犯罪行為に関連する行為</li>
          <li>運営チーム、本サービスのほかの利用者またはその他の第三者に対する詐欺または脅迫行為</li>
          <li>公序良俗に反する行為</li>
          <li>運営チーム、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</li>
          <li>本サービスのネットワークまたはシステム等に過度な負荷を掛ける行為</li>
          <li>本サービスの運営を妨害するおそれのある行為</li>
          <li>運営チームのネットワークまたはシステム等に不正にアクセスし、または不正なアクセスを試みる行為</li>
          <li>第三者に成りすます行為</li>
          <li>本サービスの他の利用者のIDまたはパスワードを利用する行為</li>
          <li>本サービスの他の利用者の情報の収集</li>
          <li>本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為</li>
          <li>反社会的勢力への利益供与</li>
          <li>前各号の行為を直接または間接に惹起し、また容易にする行為</li>
          <li>その他、運営チームが不適切と判断する行為</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第6条（本サービスの停止等）</h2>
        <p>運営チームは登録ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによって登録ユーザーに生じた損害について一切の責任を負いません。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第7条（著作権）</h2>
        <ol>
          <li>登録ユーザーは，自ら著作権等の必要な知的財産権を有するか，または必要な権利者の許諾を得た文章，画像や映像等の情報に関してのみ，本サービスを利用し，投稿ないしアップロードすることができるものとします。</li>
          <li>登録ユーザーが本サービスを利用して投稿ないしアップロードした文章，画像，映像等の著作権については，当該ユーザーその他既存の権利者に留保されるものとします。ただし，運営チームは，本サービスを利用して投稿ないしアップロードされた文章，画像，映像等について，本サービスの改良，品質の向上，または不備の是正等ならびに本サービスの周知宣伝等に必要な範囲で利用できるものとし，登録ユーザーは，この利用に関して，著作者人格権を行使しないものとします。</li>
          <li>前項本文の定めるものを除き，本サービスおよび本サービスに関連する一切の情報についての著作権およびその他の知的財産権はすべて運営チームまたは運営チームにその利用を許諾した権利者に帰属し，登録ユーザーは無断で複製，譲渡，貸与，翻訳，改変，転載，公衆送信（送信可能化を含みます。），伝送，配布，出版，営業使用等をしてはならないものとします。</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第8条（利用制限および登録抹消）</h2>
        <ol>
          <li>運営チームは，登録ユーザーが以下のいずれかに該当する場合には，事前の通知なく，投稿データを削除し，登録ユーザーに対して本サービスの全部もしくは一部の利用を制限しまたは登録ユーザーとしての登録を抹消することができるものとします。</li>
            <ol>
              <li>本規約のいずれかの条項に違反した場合</li>
              <li>登録事項に虚偽の事実があることが判明した場合</li>
              <li>本サービスについて，最終の利用から一定期間利用がない場合</li>
              <li>その他，運営チームが本サービスの利用を適当でないと判断した場合</li>
            </ol>
          <li>前項各号のいずれかに該当した場合，登録ユーザーは，当然に当社に対する一切の債務について期限の利益を失い，その時点において負担する一切の債務を直ちに一括して弁済しなければなりません。</li>
          <li>運営チームは，本条に基づき当社が行った行為により登録ユーザーに生じた損害について，一切の責任を負いません。</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第9条（保証の否認および免責事項）</h2>
        <ol>
          <li>本サービス運営チームは，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
          <li>当サービス運営チームは，本サービスに起因して登録ユーザーに生じたあらゆる損害について一切の責任を負いません。</li>
          <li>当サービス運営チームは，当サービス運営チームの過失（重過失を除きます。）による債務不履行または不法行為により登録ユーザーに生じた損害のうち特別な事情から生じた損害（当サービス運営チームまたは登録ユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。</li>
          <li>当サービス運営チームは，本サービスに関して，登録ユーザーと他の登録ユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</li>
        </ol>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第10（利用規約の変更）</h2>
        <p>運営チームは，必要と判断した場合には，登録ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第11条（個人情報の取扱い）</h2>
        <p>運営チームは，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第12条（通知または連絡）</h2>
        <p>登録ユーザーと当サービス運営チームとの間の通知または連絡は，当サービス運営チームの定める方法によって行うものとします。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第13条（権利義務の譲渡の禁止）</h2>
        <p>登録ユーザーは，運営チームの書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
    </div>
    <div class='mt-5'>
      <h2 class='border-bottom'>第14条（準拠法・裁判管轄）</h2>
        <ol>
          <li>本規約の解釈にあたっては，日本法を準拠法とします。</li>
          <li>本サービスに関して紛争が生じた場合には，当サービス運営チームの所在地を管轄する裁判所を専属的合意管轄とします。</li>
      </ol>
      <div class='mt-5'>
        <p class='text-center'>以上</p>
        <p style='color: #C0C0C0'>2020年7月15日作成</p>
        </div>
    </div>
  </div>
</div>
