//For PC display
#new_map {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

#show_map {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

//infowindow css
h4.info-h4 {
    font-size: 18px;
}

p.info-p {
    font-size: 14px; 
  }

p.info-useful {
    font-size: 12px; 
  }

.detail {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: blue;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width: 100%;
  text-align: center;
  }

.detail:hover {
    background: blue;
    color: white;
  }

.info-delete {
    color: red;
  }

//For small display
@media(max-width: 768px){
#show_map {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  } 

#new_map {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  } 

select.map-select {
    font-size: 16px;
  }

h1.map-h1 {
    font-size: 28px;
  }

h2.map-h2 {
    font-size: 20px;
  }

h3.map-h3 {
    font-size: 18px;
  }

h5.map-h5 {
  font-size: 18px;
  }

h6.map-h6 {
    font-size: 16px;
  }

p.map-p {
    font-size: 11px;
  }

p.map-show-p {
    font-size: 16px;
  }

li.map-list {
    font-size: 16px;
  }

a.back-to-top {
    font-size: 20px;
  }
//infowindow css
h4.info-h4 {
    font-size: 15px;
  }

p.info-p {
    font-size: 11px;
  }

}
