<div class='row'>
  <ul class='ul_links'>
    <li><%= link_to '＞RISCとは!!', about_path %></li>
    <li><%= link_to '＞利用規約', terms_of_service_path %></li>
    <li><%= link_to '＞プライバシーポリシー', plivacy_policy_path %></li>
  </ul>
</div>
